.header {
    background: #1F2937 ;
    display: flex;
    flex-direction: column;

}

.logo {
    width: 100px;
    height: 100px;
}

.title {
    font-weight: extra-bold;
    font-size: 48px;
    color: #F9FAF8;
}