
/* This is for header */

.header {
    flex: 1;
    display: flex;
    background: #1F2937 ;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.logo {
    height: 50px;
    width: 100px;
    
    
}


.title {
    font-weight: 100px;
    font-size: 30px;
    color: #F9FAF8;
}

.listh {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 50px;
    
}

.listh a {
    text-decoration: none;
    color:#F9FAF8;
    font-size: 20px;
    font-weight: 100px;
}



ul {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}



/* Body Sign up */

.picture-in-header {
    background-color: #1F2937;
    padding: 70px;
    color:#F9FAF8;
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    
    
}

.picture-in-text{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
    margin-right: 60px;
}


.picture-in-button{
    font-size:  18px;
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 15px;
    border-radius: 50px;
    border:none;
    font-weight: bold;
}


/* Random info section */

.title-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 40px;
    color: #1F2937;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}






/* Sign up button */

.sign-up {
    background-color: #3882F6 ;
    display: flex;   
    color:#F9FAF8;
    flex-direction: column;
    align-items: flex-start;
    
}


/* Footer Styling */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}