
/* This is for header */

.header {
    flex: 1;
    display: flex;
    background: #1F2937 ;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.logo {
    height: 50px;
    width: 100px;
    
    
}


.title {
    font-weight: 100px;
    font-size: 30px;
    color: #F9FAF8;
}

.listh {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 50px;
    
}

.listh a {
    text-decoration: none;
    color:#F9FAF8;
    font-size: 20px;
    font-weight: 100px;
}



ul {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}



/* Body Sign up */

.picture-in-header {
    background-color: #1F2937;
    padding: 70px;
    color:#F9FAF8;
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    
    
}

.picture-in-text{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
    margin-right: 60px;
}


.picture-in-button{
    font-size:  18px;
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 15px;
    border-radius: 50px;
    border:none;
    font-weight: bold;
}


/* Random info section */

.info-content {
    display: flex;
    flex-wrap: wrap;
    padding: 48px 48px 96px 48px;
    gap: 36px;
    justify-content: center;
}

.info-img-placeholder {
    height: 200px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.card-one-text,
.card-two-text,
.card-three-text,
.card-four-text {
    width: 200px;
    text-align: center;
    color: #1F2937;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}








.slots{
    width: 150px;
    height: 150px;
}

.roulette {
    width: 150px;
    height: 150px;
}


.cards {
    width: 150px;
    height: 150px;
}

.craps {
    width: 150px;
    height: 150px;
}
    

/* Quote Styling */

.quote {
    display: flex; 
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    padding-bottom: 50px;
    padding-top: 50px;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    
}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 23px;
    font-style: normal;
    font-weight: bold;
    margin-left: 300px;

}


/* Sign up button */

.sign-up {
    background-color: #3882F6 ; 
    color:#F9FAF8;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 75px;
    margin-bottom: 75px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
}


.sign-click {
    font-size: 20px;
    font-weight: normal;
}

.sign-button {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 17px;
    border-color: #F9FAF8;
    font-weight: bold;
    border-radius: 20px;
    
}


/* Footer Styling */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}